<!-- The Modal -->
<div class="modal-content">

  <!-- Modal Header -->
  <div class="modal-header">
    <h4 class="modal-title">Sign In</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>
  <form name="loginForm">
  <!-- Modal body -->
  <div class="modal-body">

        <div class="form-label-group">
            <label for="inputEmail">Email address</label>
            <input name="username"
                   type="email"
                   id="inputEmail"
                   class="form-control"
                   placeholder="Email address"
                   ng-model="signinData.username"
                   required autofocus>
        </div>

        <div class="form-label-group">
            <label for="inputPassword">Password</label>
            <input name="password"
                   type="password"
                   id="inputPassword"
                   class="form-control"
                   placeholder="Password"
                   ng-model="signinData.password"
                   required>
        </div>

        <!--<div class="custom-control custom-checkbox mb-3">-->
          <!--<input type="checkbox" class="custom-control-input" id="customCheck1">-->
          <!--<label class="custom-control-label" for="customCheck1">Remember password</label>-->
        <!--</div>-->
         <!--<div></div>-->
        <!--<button class="btn btn-lg btn-primary btn-block text-uppercase"-->
                <!--type="submit"-->
                <!--data-dismiss="modal"-->
                <!--ng-disabled="!loginForm.$valid">Sign in</button>-->


  </div>

  <!-- Modal footer -->
  <div class="modal-footer">
      <button class="btn btn-primary"
              type="button"
              ng-disabled="!loginForm.$valid"
              ng-click="signin()">Sign In</button>
      <button class="btn btn-warning"
              type="button"
              ng-click="cancel()">Cancel</button>
  </div>
  </form>
</div>


